body {
    background: linear-gradient(180deg, #393C5D 0%, rgba(57, 60, 93, 0) 100%);
    min-height: 100vh;
}





 .ico {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: stretch;
align-content: flex-start;
  color: gray;
  padding: auto;
}

.button-deli {
  background-color: #5CCB9A;
width: 90%;
  margin-top: 8%;
  margin-left: 4%;
  border-radius: 15px;
  padding: 2%;
}
.efectivo {
    background-color: white;
  width: 90%;
    margin-top: 8%;
    margin-left: 4%;
    border-radius: 15px;
    padding: 2%;
    text-decoration: underline;
  }


.conteiner {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 135%;
}

.input-container i {
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  
}
.input {
 width: 250px;
 padding: 15px 15px 15px 58px;
 font-size: 16px;
 margin-left: 18px;
 background-color: #5CCB9A;
 margin-top: 5%;
}
