#fondo {
  background-color:#595B76;
}
.img-fluid {
  height: 90%;
  width: 64%;
  margin-left: 4%;
  margin-top: 4%;
  padding-top: 5%;
}

.formulario {
background-color: white;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
border-radius: 5%;

}
section {
  background-color: white;
}